# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
*.iml

# Laravel
vendor/
node_modules/
.env
*.log
/storage/*.key

# React
node_modules/
build/
dist/
.env
.DS_Store

# OS
*.DS_Store

